* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    position: absolute;
    top: 160px;
    cursor: pointer;
    font-size: 22px;
    color: rgb(40, 134, 21);
    transition: .4s;
}

input { display: none; }

input:checked ~ .container .message { transform: scale(1); }

.container {
    position: absolute;
    top: 210px;
    width: 320px;
    height: 0px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: 1.2s;
}

.container .message {
    position: relative;
    display: flex;
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    transform: scale(0);
    transition: .4s;
}

.message:nth-child(1) { transition-delay: .3s; }

.message:nth-child(2) { transition-delay: .6s; }

.message:nth-child(3) { transition-delay: .9s; }

.container .message h4 {
    font-size: 18px;
    position: absolute;
    left: 100px;
    top: 20px;
}

.container .message p {
    position: absolute;
    font-size: 14px;
    top: 48px;
    left: 100px;
}

.container .message img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

input:checked ~ label {
    transform: rotate(360deg);
    color: red;
}

input:checked ~ .container {
    height: 320px;
    opacity: 1;
}

